.header-body {
    color: black;
    text-align: center;
    padding: 60px 0;
    border-radius: 10px;
  }
  
  h1 {
    font-weight: bold;
    font-size: 2.8rem;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0.9;
  }
  
  .publish-btn {
    background-color: #ff4b2b;
    border: none;
    padding: 12px 25px;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
  }
  
  .publish-btn:hover {
    background-color: #e63e25;
    transform: scale(1.05);
  }
  